@page
@model AboutModel
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@{
    ViewData["Title"] = "About";
}

@section MetaDescription {
    <meta name="description" content="@Localizer["Meta_Description_About"]" />
}

<h1>@ViewData["Title"]</h1>
<h2>@Model.Message</h2>

<p>Use this area to provide additional information.</p>
