@page
@model ContactModel
@{
    ViewData["Title"] = "Contact";
    ViewData["Description"] = "Get in touch with the RazorPagesProject team. Find our contact information, support email, and business address. We're here to help with any questions or feedback.";
    ViewData["Keywords"] = "contact, support, feedback, RazorPagesProject team, business address, customer service";
}

<h1>@ViewData["Title"]</h1>
<h2>@Model.Message</h2>

<address>
    One Microsoft Way<br />
    Redmond, WA 98052-6399<br />
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>

<address>
    <strong>Support:</strong> <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>
