@page
@model ContactModel
@{
    ViewData["Title"] = "Contact";
}

<h1>@ViewData["Title"]</h1>
<h2>@Model.Message</h2>

<div class="row">
    <div class="col-md-6">
        <h4>このプロジェクトについて</h4>
        <p>
            <strong>.NET Test Demo</strong> は、.NET 開発のベストプラクティスとテスト戦略を学習するための
            オープンソースのデモンストレーションプロジェクトです。
        </p>
        
        <h5>プロジェクトの詳細情報</h5>
        <ul>
            <li><strong>GitHub リポジトリ</strong>: <a href="https://github.com/sikebe-demo/dotnet-test-demo" target="_blank">sikebe-demo/dotnet-test-demo</a></li>
            <li><strong>ライセンス</strong>: MIT License</li>
            <li><strong>対象フレームワーク</strong>: .NET 9</li>
        </ul>
    </div>
    
    <div class="col-md-6">
        <h4>技術的なご質問・フィードバック</h4>
        <p>
            このプロジェクトに関する技術的なご質問、バグ報告、機能提案などは、
            GitHubリポジトリのIssuesセクションをご利用ください。
        </p>
        
        <h5>貢献方法</h5>
        <ol>
            <li>リポジトリをフォーク</li>
            <li>機能ブランチを作成 (<code>git checkout -b feature/amazing-feature</code>)</li>
            <li>変更をコミット (<code>git commit -m 'Add some amazing feature'</code>)</li>
            <li>ブランチにプッシュ (<code>git push origin feature/amazing-feature</code>)</li>
            <li>プルリクエストを作成</li>
        </ol>
        
        <p>
            <strong>注意</strong>: このプロジェクトは学習・デモンストレーション目的のため、
            商用サポートは提供していません。
        </p>
    </div>
</div>
