@page
@model PrivacyModel
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@{
    ViewData["Title"] = "Privacy Policy";
}

@section MetaDescription {
    <meta name="description" content="@Localizer["Meta_Description_Privacy"]" />
}

<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>
